@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'IRANSansXV', 'Public Sans', sans-serif;

  --color-primary: #F0B90B;
  --color-neutral: #2C2E30;
  --color-secondary: #2F3337;
}

:root {
  --ui-bg: var(--color-neutral);
  --ui-text: #AEAEAE;
  --ui-border: #404244;
  --ui-bg-elevated: var(--color-gray-500);
  --ui-container: 1744px;

  font-variation-settings: "dots" 4;
  font-feature-settings: 'ss02';
}

.dark {
  --ui-text-dimmed: #fff;
}